[submodule "scripts"]
	path = scripts
	url = https://github.com/ComaszTyrulik/BasicCppSetupScripts
[submodule "vendor/XxHash/xxHash"]
	path = vendor/XxHash/xxHash
	url = https://github.com/ComaszTyrulik/xxHash
